.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: black;
    color: white;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}