{{> header}} 

<div class="wrapper">
    {{> sidebar}} 
    <div class='content'>
        <div class='main'>
            <div class='main-inner'>
                {{> loop}}
            </div>
        </div>
    </div>

</div>

{{> footer}}