<nav class="blog-nav">
    <ul>
        <li><a href="{{resolve "/"}}">Articles</a></li>
        <li><a href="{{resolve "/about"}}">About me</a></li>
        <li><a href="{{resolve "/contact"}}">Contact me</a></li>
    </ul>
</nav>
