html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

/* HTML5 display definitions
	 ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, cite, code, small {
  display: block; }

body, article, section, footer, header, div, input, nav, article ol, article ul, blockquote, figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

/* Links
	 ========================================================================== */
a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

/* Text-level semantics
	 ========================================================================== */
abbr {
  letter-spacing: 0.1em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 70%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

em, i {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* Embedded content
	 ========================================================================== */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* Grouping content
	 ========================================================================== */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace; }

/* Tables
	 ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* Images
	 ========================================================================== */
img {
  max-width: 100%;
  display: block;
  margin: inherit auto; }

/*
Gutenberg: Web Typography Starter Kit
Website ....... http://matejlatin.github.io/Gutenberg/
Version ....... 1.1
Github ........ https://github.com/matejlatin/Gutenberg
Authors ....... Matej Latin (@matejlatin)
License ....... Creative Commmons Attribution 3.0
License URL ... https://raw.githubusercontent.com/matejlatin/Gutenberg/master/license.txt
*/
/* Font themes
   ========================================================================== */
@media screen and (min-width: 40em) {
  .floatLeft {
    float: left; } }

@media screen and (min-width: 40em) {
  .floatCenter {
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 40em) {
  .floatRight {
    float: right; } }

/* Defaults
   ========================================================================== */
@media screen and (min-width: 40em) {
  body, html {
    margin: 0;
    width: 100%;
    max-width: none; } }

html {
  box-sizing: border-box;
  font-size: 16px;
  font-size: 100%;
  font-family: "Roboto", Arial, sans-serif;
  color: #222;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

@media screen and (min-width: 40em) {
  html {
    font-size: 18px;
    font-size: 1.125rem; } }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0; }

footer {
  display: block; }

body > footer {
  margin: 0 auto;
  width: 80%; }

header {
  display: block; }

main {
  display: block; }

section {
  display: block; }

/* Links
   ========================================================================== */
a {
  background: transparent;
  text-decoration: none;
  transition: all .3s; }

a:active, a:hover {
  outline: 0; }

a:hover {
  color: #222; }

a:active {
  color: #222; }

article {
  display: block;
  margin: 0 auto;
  width: 80%; }

@media screen and (min-width: 40em) {
  article {
    max-width: 945px;
    max-width: 52.5rem; } }

audio {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

canvas {
  display: inline-block;
  vertical-align: baseline; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace; }

code {
  padding: 26px;
  padding: 1.625rem;
  display: block; }

@media screen and (min-width: 40em) {
  code {
    padding: 31px;
    padding: 1.722222222222222rem; } }

details {
  display: block; }

summary {
  display: block; }

figcaption {
  line-height: 26px;
  line-height: 1.625rem;
  color: #222;
  display: block;
  font-size: .8125rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center; }

@media screen and (min-width: 40em) {
  figcaption {
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-bottom: 0; } }

figure {
  display: block; }

@media screen and (min-width: 40em) {
  figure.floatLeft, figure.floatRight {
    max-width: 315px;
    max-width: 17.5rem;
    padding: 0px 31px;
    padding: 0rem 1.722222222222222rem; } }

@media screen and (min-width: 40em) {
  figure.floatLeft blockquote, figure.floatRight blockquote {
    padding: 0px;
    padding: 0rem;
    text-align: left; } }

@media screen and (min-width: 40em) {
  figure.floatLeft blockquote p, figure.floatRight blockquote p {
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 31px;
    line-height: 1.722222222222222rem; } }

/* Headings
   ========================================================================== */
h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 52px;
  line-height: 3.25rem;
  margin-top: 104px;
  margin-top: 6.5rem;
  margin-bottom: 26px;
  margin-bottom: 1.625rem; }

h2 {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 39px;
  line-height: 2.4375rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h4 {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 39px;
  margin-top: 2.4375rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 65px;
  margin-top: 4.0625rem;
  margin-bottom: 13px;
  margin-bottom: 0.8125rem; }

@media screen and (min-width: 40em) {
  h1 {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 62px;
    line-height: 3.444444444444445rem;
    margin-top: 124px;
    margin-top: 6.888888888888889rem;
    margin-bottom: 31px;
    margin-bottom: 1.722222222222222rem; }
  h2 {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 46.5px;
    line-height: 2.583333333333334rem;
    margin-top: 77.5px;
    margin-top: 4.305555555555556rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem; }
  h3 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 62px;
    margin-top: 3.444444444444445rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem; }
  h4 {
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 46.5px;
    margin-top: 2.583333333333334rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem; }
  h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 77.5px;
    margin-top: 4.305555555555556rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem; }
  h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 31px;
    line-height: 1.722222222222222rem;
    margin-top: 77.5px;
    margin-top: 4.305555555555556rem;
    margin-bottom: 15.5px;
    margin-bottom: 0.861111111111111rem; } }

h1 + h2 {
  margin-top: 26px;
  margin-top: 1.625rem; }

@media screen and (min-width: 40em) {
  h1 + h2 {
    margin-top: 31px;
    margin-top: 1.722222222222222rem; } }

h2 + h3, h3 + h4, h4 + h5 {
  margin-top: 13px;
  margin-top: 0.8125rem; }

@media screen and (min-width: 40em) {
  h2 + h3, h3 + h4, h4 + h5 {
    margin-top: 15.5px;
    margin-top: 0.861111111111111rem; } }

h5 + h6 {
  margin-top: -13px;
  margin-top: -0.8125rem; }

@media screen and (min-width: 40em) {
  h5 + h6 {
    margin-top: -15.5px;
    margin-top: -0.861111111111111rem; } }

h6 {
  font-style: italic;
  font-weight: normal; }

hgroup {
  display: block; }

hr {
  margin-top: 52px;
  margin-top: 3.25rem;
  margin-bottom: 52px;
  margin-bottom: 3.25rem;
  box-sizing: content-box;
  border: 0;
  color: #222;
  display: block;
  height: 26px;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-size: 100% 1.625rem;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, #222 11px, #222 15px, transparent 15px, transparent 26px);
  width: 100px; }

@media screen and (min-width: 40em) {
  hr {
    background-size: 100% 31px;
    background-size: 100% 1.722222222222222rem;
    background-image: linear-gradient(to bottom, transparent 1px, transparent 13.5px, #222 13.5px, #222 17.5px, transparent 17.5px, transparent 31px);
    margin-top: 62px;
    margin-top: 3.444444444444445rem;
    margin-bottom: 62px;
    margin-bottom: 3.444444444444445rem;
    height: 31px;
    height: 1.722222222222222rem; } }

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto; }

svg:not(:root) {
  overflow: hidden; }

ul li, ol li {
  margin-bottom: 0;
  font-size: 16px; }

nav {
  display: block; }

progress {
  display: inline-block;
  vertical-align: baseline; }

blockquote {
  font-style: italic;
  padding-left: 1.4375rem; }

@media screen and (min-width: 40em) {
  blockquote {
    padding-left: 2rem; } }

cite {
  display: block;
  font-style: normal; }

figure blockquote {
  padding: 26px 0px;
  padding: 1.625rem 0rem; }

@media screen and (min-width: 40em) {
  figure blockquote {
    padding: 62px 0px 31px;
    padding: 3.444444444444445rem 0rem 1.722222222222222rem;
    text-align: center; } }

figure blockquote p {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 39px;
  line-height: 2.4375rem; }

@media screen and (min-width: 40em) {
  figure blockquote p {
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 46.5px;
    line-height: 2.583333333333334rem; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

[hidden], template {
  display: none; }

abbr {
  letter-spacing: 0.1em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

em, i {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

mark {
  background: #ff0;
  color: #000; }

small {
  line-height: 13px;
  line-height: 0.8125rem;
  font-size: 70%; }

@media screen and (min-width: 40em) {
  small {
    line-height: 15.5px;
    line-height: 0.861111111111111rem; } }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Paragraph
   ========================================================================== */
.attention-grabber {
  font-size: 19.2px;
  font-size: 1.2rem; }

.alignLeft {
  text-align: left; }

.alignCenter {
  text-align: center; }

.alignRight {
  text-align: right; }

.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase; }

video {
  display: inline-block;
  vertical-align: baseline; }

p > code, span > code {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  background: #f8f8f8;
  display: inline;
  font-family: Inconsolata, monospace, serif;
  max-width: 100%;
  overflow: auto;
  padding: 0.25em 0.5em; }

pre code {
  display: block;
  border-radius: 3px;
  overflow-x: auto;
  padding: 0.5em 1em;
  color: #333;
  background: #f8f8f8; }

.hljs-comment, .hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string, .hljs-doctag {
  color: #d14; }

.hljs-title, .hljs-section, .hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type, .hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-tag, .hljs-name, .hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp, .hljs-link {
  color: #009926; }

.hljs-symbol, .hljs-bullet {
  color: #990073; }

.hljs-built_in, .hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.sidebar {
  lost-column: 1/3; }

.sidebar .sidebar-inner {
  position: relative;
  padding: 40px; }

.sidebar .sidebar-inner:after {
  background: #eee;
  background: linear-gradient(to bottom, #eee 0%, #eee 48%, #fff 100%);
  position: absolute;
  content: '';
  width: 1px;
  height: 540px;
  top: 30px;
  right: -10px;
  bottom: 0; }

.sidebar .sidebar-inner img {
  display: inline-block;
  margin-bottom: 0;
  border-radius: 50%;
  background-clip: padding-box; }

.sidebar .sidebar-inner h1, .sidebar .sidebar-inner h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin: 20px 0 10px; }

.sidebar .sidebar-inner p {
  color: #888;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px; }

.sidebar .sidebar-inner p.copyright {
  color: #b6b6b6;
  font-size: 14px; }

@media (max-width: 1100px) {
  .sidebar .sidebar-inner {
    padding: 35px 20px 0; }
  .sidebar {
    lost-column: 1/2; } }

@media (max-width: 900px) {
  .sidebar {
    lost-column: 5/12; }
  .sidebar .sidebar-inner {
    padding: 30px 20px 0; } }

@media (max-width: 500px) {
  .sidebar {
    lost-column: 1; }
  .sidebar .sidebar-inner {
    padding: 25px 20px 0; }
  .sidebar .sidebar-inner:after {
    display: none; } }

.blog-post {
  margin-bottom: 30px; }

.blog-post:last-child {
  margin-bottom: 10px; }

.blog-post h2 {
  margin-top: 10px;
  line-height: 30px;
  margin-bottom: 20px; }

.blog-post h2 a {
  color: #222; }

.blog-post h2 a:hover,
.blog-post h2 a:focus {
  border-bottom: 1px solid; }

.blog-post p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px; }

.blog-post time {
  font-size: 14px;
  color: #222;
  font-weight: 500;
  text-transform: uppercase; }

.blog-post .blog-category {
  font-size: 14px;
  color: #f7a046;
  font-weight: 500;
  text-transform: uppercase; }

.blog-post .readmore {
  font-size: 16px;
  color: #5d93ff; }

.blog-post .readmore:hover {
  border-bottom: 1px solid; }

.blog-single {
  max-width: 945px;
  margin-left: auto;
  margin-right: auto; }

.blog-single h1 {
  text-align: center;
  margin-top: 30px; }

.blog-single .text {
  line-height: 31px;
  margin-bottom: 31px; }

.blog-single h1, .blog-single .date-published, .blog-single .text *:not(div) {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto; }

.blog-single .text img {
  max-width: 100%;
  height: auto; }

.blog-single .footer {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  line-height: 31px;
  margin-bottom: 31px; }

.gohome {
  position: fixed;
  left: 20px;
  font-size: 16px;
  text-align: center;
  padding: 8px 16px;
  color: #999;
  background: #f4f4f4;
  font-weight: 400;
  border-radius: 3px; }

.gohome:focus {
  color: #444;
  background: #f4f4f4;
  border: 0; }

.gohome:hover {
  color: #444;
  background: #f4f4f4;
  border: 0; }

@media (max-width: 900px) {
  .blog-single h1 {
    margin-top: 15px; }
  .blog-single .text, .blog-single .footer {
    padding: 0 15px;
    line-height: 26px;
    margin-bottom: 26px; }
  .gohome {
    position: static;
    margin: 20px auto 0;
    text-align: center;
    width: 85px;
    display: block; } }

.blog-nav {
  margin: 20px 0px 10px; }

.blog-nav ul {
  list-style: none;
  padding-left: 0; }

.blog-nav ul li {
  margin: 10px 0 10px; }

.blog-nav ul li a {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px;
  border-bottom: 0;
  font-weight: 400;
  color: #222; }

.blog-nav ul li a.current {
  border-bottom: 1px solid; }

.blog-nav ul li a:hover {
  border-bottom: 1px solid; }

.blog-links {
  margin-top: 30px; }

.blog-links ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  clear: fix-legacy; }

.blog-links ul > li {
  float: left;
  margin-right: 5px;
  text-align: center;
  height: 24px;
  width: 24px;
  border-radius: 3px;
  background: #f4f4f4; }

.blog-links ul > li:hover {
  background: #f4f4f4; }

.blog-links ul > li > a {
  border-bottom: 0; }

.blog-links ul > li > a > i {
  color: #606060;
  font-size: 14px;
  line-height: 24px; }

.blog-links ul > li:hover a > i {
  color: #444; }

.blog-page {
  margin-bottom: 40px; }

.blog-page h1 {
  font-size: responsive 20px 36px;
  margin-top: 0; }

.blog-page p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px; }

@media (max-width: 900px) {
  .blog-single .text, .blog-single .footer {
    padding: 0 15px; } }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem; }

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef; }

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: black;
  color: white; }

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit; }

a {
  color: #5d93ff; }

a:hover,
a:focus {
  color: #f7a046; }

.wrapper {
  lost-center: 1070px; }

.content {
  lost-column: 2/3; }

.main-inner {
  padding: 40px 35px; }

@media screen and (max-width: 1100px) {
  .content {
    lost-column: 2/4; }
  .main-inner {
    padding: 35px 20px; } }

@media screen and (max-width: 900px) {
  .content {
    lost-column: 7/12; }
  .main-inner {
    padding: 30px 20px; } }

@media screen and (max-width: 500px) {
  .content {
    lost-column: 4/4; }
  .main-inner {
    padding: 25px 20px; } }
